@import '../styles/_variables';
@import '../styles/_mixins';

#logoLarge {
    width: 35px;
    margin: 0 20px;
    display: block;
    @include mq-tb {
        display: none
    }
}

#logoText {
    font-weight: 900;
    letter-spacing: .3rem;
    @include mq-tb {
        display: none
    }
}
#logoSmall {
    width: 35px;
    display: none;
    margin: 0 20px;
    @include mq-tb {
        display: block;
    }
}